<!DOCTYPE html>
<html>
<head>
<style>

body {
	background-color: black

}

h1 {
  color: white

}
p {
  color: white

}
</style>
</head>
<body>

<h1>Welcome to Zach's webpage</h1>
<p>I will constantly update this page as I work on this project.</p>
<p>Note: Everything on this site is not final and will be updated as time goes on.</p>

</body>
</html>

